extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
block before_page
  link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css")
block after_page
  script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
  script.
    const swiper = new Swiper(".swiper", {
      direction: "horizontal",
      loop: true,
      effect: "fade",
      fadeEffect: {
        crossFade: true
      },
      speed: 400,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      }
    });
    $('.swiper-user .owl-carousel').owlCarousel({
    loop:true,
    margin: 20,
    nav: true,
    dot:true,
    lazyLoad:true,
    autoplay:true,
    autoplayTimeout:3000,
    navText: ["<img src='../../assets/images/back.png'>","<img src='../../assets/images/next.png'>"],
    responsive:{
        0:{
            items:2
        },
        768:{
            items:4
        }
    }
    });
    $('.c-user .owl-carousel').owlCarousel({
    loop:true,
    margin: 20,
    dots: true,
    lazyLoad:true,
    autoplay:true,
    autoplayTimeout:3000,
    responsive:{
        0:{
            items:1
        },
        768:{
            items:3
        }
    }
    });
block container
  .c-swiper
    .swiper
      .swiper-wrapper
        .swiper-slide
          .swiper-image(style="background: url(../../assets/images/banner01.png) no-repeat right bottom; background-size:cover;")
          .overlay
          .content-wrapper
            .content
              h1 THE ULTIMATE GETAWAY VEHICLE
              p
                | With speed, control, and confidence on any terrain, Diverge is the most capable gravel bike ever made. Switching from Midwest gravel at Mach 5 to rutted single track with ease, nothing helps you escape faster than Diverge.
              a.button(href='https://api.leadconnectorhq.com/widget/appointment/preciouslifeagent/retirement-consultation', target="_blank") Đăng Ký Tư Vấn
        .swiper-slide
          .swiper-image(style="background: url(../../assets/images/banner01.png) no-repeat center center; background-size:cover;")
          .overlay
          .content-wrapper.content-right
            .content
              h1 ONE BIKE TO RULE THEM ALL
              p
                | Morph Sagan’s superhuman speed with Alaphilippe’s climbing power and you’ve got the Tarmac SL7. The bike that knows no compromise. Climb on the lightest bike the rules allow, sprint on the fastest – all with legendary Tarmac handling. The only choice you need to make is when to attack.
              a.button(href='https://api.leadconnectorhq.com/widget/appointment/preciouslifeagent/retirement-consultation', target="_blank") Đăng Ký Tư Vấn

      .swiper-pagination
      .swiper-nav-wrapper
        .swiper-button-prev
        .swiper-button-next
      .swiper-scrollbar
  .l-container
    .c-boss
      .c-boss_img
        img.lazyload(loading="lazy", data-src=path+"assets/images/user02.jpg", src=path+"assets/images/user02.jpg" alt="")
      .c-boss_content
        h3.m-center.m-position Our Mission
        p There's this notion that to grow a business, you have to be ruthless. But we know there's a better way to grow. One where what's good for the bottom line is also good for customers. We believe businesses can grow with a conscience, and succeed with a soul — and that they can do it with inbound. That's why we've created an ecosystem uniting software, education, and community to help businesses grow better every day.

  .c-solution
    .l-container
      .c-solution_inner
        h3 Insurance Solutions
        .content
          p HubSpot’s CRM platform has all the tools and integrations you need for marketing, sales, content management, and customer service. Each product in the platform is powerful alone, but the real magic happens when you use them together.
          .btn
            a(href) Get free CRM
            a(href) Demo premium CRM
        ul
          li
            //- .c-solution_tag Tax Planning
            .c-solution_name Tax Planning
            .c-solution_icon
              img.lazyload(loading="lazy", width="70" height="70"  data-src=path+"assets/images/money-bag.png" src=path+"assets/images/money-bag.png")
            .c-solution_extra Analyze financial plans and offer the best solutions for customers to get maximum tax reduction for income, financial investment, insurance
          li
            //- .c-solution_tag Retirement Planning
            .c-solution_name Retirement Planning
            .c-solution_icon
              img.lazyload(loading="lazy", width="70" height="70" data-src=path+"assets/images/heart.png" src=path+"assets/images/heart.png")
            .c-solution_extra Secure your future high quality retirement with High Annual Income and Tax Free Retirement
          li
            //- .c-solution_tag Estate Planning
            .c-solution_name Estate Planning
            .c-solution_icon
              img.lazyload(loading="lazy", width="70" height="70" data-src=path+"assets/images/home.png" src=path+"assets/images/home.png")
            .c-solution_extra Step-by-step helping clients make a sensible legacy plan for each of their loved ones
  .c-button
    a.c-button_inner.bounceIn(href="https://api.leadconnectorhq.com/widget/appointment/preciouslifeagent/retirement-consultation", target="_blank")
        p Bạn có muốn làm chủ tương lai?
        p Đừng ngần ngại tìm hiểu cùng Jolie!

  .c-customers
    .l-container
      .c-customers_inner
        dl
          dd
            h3 There are 1000+ customers who have chosen to accompany Jolie, because:
            p  Put customers first, choose the types of insurance and financial funds that fit your budget and help you achieve maximum benefits in the future.
        dl
          dd
            img.lazyload(loading="lazy", data-src=path+"assets/images/user02.jpg", src=path+"assets/images/user02.jpg" alt="")
      ul.c-customers_list
        li
          .c-customers_ttl
            img.lazyload(loading="lazy", data-src=path+"assets/images/shield.png" src=path+"assets/images/shield.png")
            h3 Trusted Partners
          p Jolie's agent and team contract with many reputable financial companies in the market to bring you the best products
          a(href) Sự khác biệt cơ bản của người trưởng thành so với lứa tuổi mới lớn, theo ông, là ở đâu, nếu không chỉ là cách yêu?
        li
          .c-customers_ttl
            img.lazyload(loading="lazy", data-src=path+"assets/images/customer-service.png" src=path+"assets/images/customer-service.png")
            h3 #1 Customer Service
          p Jolie has always had the ideal of giving and serving, so Jolie always strives to bring satisfaction and the best experience to customers from the first time they meet.
          a(href) Sự khác biệt cơ bản của người trưởng thành so với lứa tuổi mới lớn, theo ông, là ở đâu, nếu không chỉ là cách yêu?
        li
          .c-customers_ttl
            img.lazyload(loading="lazy", data-src=path+"assets/images/badge.png" src=path+"assets/images/badge.png")
            h3 Professional
          p Professional process and a team of rich professionals are always ready to advise and support customers on any insurance-related issues.
          a(href) Sự khác biệt cơ bản của người trưởng thành so với lứa tuổi mới lớn, theo ông, là ở đâu, nếu không chỉ là cách yêu?
        li
          .c-customers_ttl
            img.lazyload(loading="lazy", data-src=path+"assets/images/best-seller.png" src=path+"assets/images/best-seller.png")
            h3 Best Offer
          p Thoroughly learn about the wishes and capabilities of the customer to come up with the most suitable and optimal financial fund for the customer's needs. To enable screen reader support, press Ctrl+Alt+Z To learn about keyboard shortcuts, press Ctrl+slash
          a(href) Sự khác biệt cơ bản của người trưởng thành so với lứa tuổi mới lớn, theo ông, là ở đâu, nếu không chỉ là cách yêu?
    .c-boss
      .c-boss_img
        img.lazyload(loading="lazy", data-src=path+"assets/images/jolie-phan0.jpg", src=path+"assets/images/jolie-phan0.jpg" alt="")
      .c-boss_content
        h3 About JOLIE PHAN
        p JOLIE PHAN, a life insurance associate of Independent Alliance Agency, had worked in the healthcare field for over a decade. Organized and joined many international mission trips including to Syrian refugee’s camp in 2017, Jolie’s passion has always been about serving others. Her attitude toward life insurance industry is no different. It is all about serving people and giving every American family a better life.
        br
        p With a substantial amount of knowledge in structuring a policy, backed by an excellent support team, Jolie is committed to help every family to have a comprehensive understanding of the benefits of tax free retirement
      .swiper-user
        .owl-carousel.owl-theme
          .item
              img.lazyload.owl-lazy(loading="lazy", data-src=path+"assets/images/794A5387.jpg", src=path+"assets/images/794A5387.jpg", alt="")
          .item
               img.lazyload.owl-lazy(loading="lazy", data-src=path+"assets/images/794A5387_z0.jpg", src=path+"assets/images/794A5387_z0.jpg", alt="")
          .item
               img.lazyload.owl-lazy(loading="lazy", data-src=path+"assets/images/user01.jpg", src=path+"assets/images/user01.jpg", alt="")
          .item
               img.lazyload.owl-lazy(loading="lazy",data-src=path+"assets/images/IMG_8371-Edit-Edit-Edit-2-Edit-1-2-min.jpg", src=path+"assets/images/IMG_8371-Edit-Edit-Edit-2-Edit-1-2-min.jpg", alt="")
          .item
              img.lazyload.owl-lazy(loading="lazy", data-src=path+"assets/images/IMG_8459-Edit-Edit-1-min.jpg", src=path+"assets/images/IMG_8459-Edit-Edit-1-min.jpg", alt="")
          .item
              img.lazyload.owl-lazy(loading="lazy", data-src=path+"assets/images/794A5387.jpg", src=path+"assets/images/794A5387.jpg", alt="")
          .item
               img.lazyload.owl-lazy(loading="lazy", data-src=path+"assets/images/794A5387_z0.jpg", src=path+"assets/images/794A5387_z0.jpg", alt="")
          .item
               img.lazyload.owl-lazy(loading="lazy", data-src=path+"assets/images/user01.jpg", src=path+"assets/images/user01.jpg", alt="")
          .item
               img.lazyload.owl-lazy(loading="lazy",data-src=path+"assets/images/IMG_8371-Edit-Edit-Edit-2-Edit-1-2-min.jpg", src=path+"assets/images/IMG_8371-Edit-Edit-Edit-2-Edit-1-2-min.jpg", alt="")
          .item
              img.lazyload.owl-lazy(loading="lazy", data-src=path+"assets/images/IMG_8459-Edit-Edit-1-min.jpg", src=path+"assets/images/IMG_8459-Edit-Edit-1-min.jpg", alt="")
    .c-user
      h3 What our customers say about us
      .owl-carousel.owl-theme
        .c-user_item
          .c-user_img
              img.lazyload( loading="lazy", data-src=path+"assets/images/PXL_20210316_011135625.jpg" src=path+"assets/images/PXL_20210316_011135625.jpg", alt="")
          h4 Lan Nguyen
          p  Jolie helped me get the best insurance profile ever. She is always friendly and very reliable.
        .c-user_item
          .c-user_img
              img.lazyload(loading="lazy", data-src=path+"assets/images/dr-terry-truong.jpg" src=path+"assets/images/dr-terry-truong.jpg", alt="")
          h4 Dr. Terry Truong
          p  Thanks to my aunt's introduction, I got to know Jolie and was supported by her retirement insurance. I am very satisfied with Jolie's service.
        .c-user_item
          .c-user_img
              img.lazyload(loading="lazy", data-src=path+"assets/images/beauty_20210518144219.jpg" src=path+"assets/images/beauty_20210518144219.jpg", alt="")
          h4 Trinh Nguyen
          p  I do nails so I am very worried about my health and future. So I reached out to Jolie for advice on a retirement plan. She helped me a lot and gave me the best retirement package. Sincere thanks to Jolie and team
        .c-user_item
          .c-user_img
              img.lazyload( loading="lazy", data-src=path+"assets/images/PXL_20210316_011135625.jpg" src=path+"assets/images/PXL_20210316_011135625.jpg", alt="")
          h4 Lan Nguyen
          p  Jolie helped me get the best insurance profile ever. She is always friendly and very reliable.
        .c-user_item
          .c-user_img
              img.lazyload(loading="lazy", data-src=path+"assets/images/dr-terry-truong.jpg" src=path+"assets/images/dr-terry-truong.jpg", alt="")
          h4 Dr. Terry Truong
          p  Thanks to my aunt's introduction, I got to know Jolie and was supported by her retirement insurance. I am very satisfied with Jolie's service.
        .c-user_item
          .c-user_img
              img.lazyload(loading="lazy", data-src=path+"assets/images/beauty_20210518144219.jpg" src=path+"assets/images/beauty_20210518144219.jpg", alt="")
          h4 Trinh Nguyen
          p  I do nails so I am very worried about my health and future. So I reached out to Jolie for advice on a retirement plan. She helped me a lot and gave me the best retirement package. Sincere thanks to Jolie and team
    .c-video
        ul
          li
            iframe.lazyload( loading="lazy" src='https://www.youtube.com/embed/Sp7MkwNVWPE' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            p Trinh Nguyen -  Math Teacher at Fort Bend County
          li
            iframe.lazyload( loading="lazy" src='https://www.youtube.com/embed/flGKab64l9M' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            p Dr. Hieu Do - Dentist Owner at Total Wellness Dental
  .c-quoue
      .l-container
        h3 Contact us for professional financial advice
        a(href) Request a Quote